<?xml version="1.0"?>
<launch>

<arg name="robot" default="$(optenv ROBOT !!NO_ROBOT_SET!!)"/>
<arg name="sim" default="false"/>

<include file="$(find cob_bringup)/tools/docker_control.launch">
	<arg name="robot" value="$(arg robot)"/>
	<arg name="multi_station" default="true"/>
	<arg name="sim" value="$(arg sim)"/>
</include>

<node name="docking_smartsoft_adapter" pkg="seronet_dock" type="smartsoft_adapter.py" output="screen"/>

</launch>
